
@font-face {
    font-family: "KyivTypeSans";
    src: url("../assets/fonts/KyivTypeSans/KyivTypeSans-VarGX.ttf") format("ttf"),
    url("../assets/fonts/KyivTypeSans/KyivTypeSans-VarGX.ttf") format("truetype");
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: "GTEesti";
    src: url("../assets/fonts/GTEesti/gteestiprotext_bold.otf") format("otf"),
    url("../assets/fonts/GTEesti/gteestiprotext_bold.otf") format("opentype");
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: "GTEesti";
    src: url("../assets/fonts/GTEesti/gteestiprotext_medium.otf") format("otf"),
    url("../assets/fonts/GTEesti/gteestiprotext_medium.otf") format("opentype");
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: "GTEesti";
    src: url("../assets/fonts/GTEesti/gteestiprotext_regular.otf") format("otf"),
    url("../assets/fonts/GTEesti/gteestiprotext_regular.otf") format("opentype");
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

